{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <h3>Sell Stock</h3>
    <form action="/sell" method="post">
        <input name="symbol" type="text" placeholder="Stock Symbol">
        <input name="shares" type="number" min="1" placeholder="# of Shares">
        <input id = "button1" type="submit" name = "sale" value = "Sell Stock">
        <br></br>
        <h3>Sell Cryptocurrency: </h3>
        <input name="c_symbol" type="text" placeholder="Crypto Symbol">
        <input name="amount" type="number" min="0.001" step = "0.001" placeholder="Amount">
        <input id = "button2" type="submit" name = "sale" value = "Sell Crypto">
    </form>
{% endblock %}